
<div class="text-center"><h2>Module2-Y</h2></div>


	<ngb-carousel>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img src="/assets/images0.jpg" alt="Random first slide" />
			</div>
			<div class="carousel-caption">
				<h3>First slide label</h3>
				<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img src="/assets/images1.jpg" alt="Random second slide" />
			</div>
			<div class="carousel-caption">
				<h3>Second slide label</h3>
				<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img src="/assets/images2.jpg" alt="Random third slide" />
			</div>
			<div class="carousel-caption">
				<h3>Third slide label</h3>
				<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
			</div>
		</ng-template>
	</ngb-carousel>


<!--<div class="col-lg-4" id="go" class="text-end"><a href="">Go back</a></div>-->