#go{
    display: flex;
    justify-content: flex-end;
  }
  
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    height: 100%;
    background-color: #f1f1f1;
    position: fixed;
    overflow: auto;
    
  }
/*ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}*/
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

  li a.active {
    background-color: blue;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: lightblue;
    color: white;
  }

 /* button{
    border: white;
    margin: 5%;
  }*/
 