<div class="container-fluid">
    <div class="row" >
        <div class="col-lg-8" id="a">
            <ul>
            <!--<li><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Module1-a</button></li>
            <li><button (click) ="open('hello')">open</button><a routerLink="Module1a">Module1-a</a></li>
            <li><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button></li>
            <li><a routerLink="Module1a">Module1-a</a></li>-->
			<li><a routerLink="Module1a">Module1-a</a></li>
            <!--<button (click)="open(content)">Module1-a</button>-->
            <li><a routerLink="Module1b">Module1-b</a></li>
            <li><a routerLink="Module1c">Module1-c</a></li>
            <li><a routerLink="Module1d">Module1-d</a></li>
            </ul>
        </div>
        <div class="col-lg-4" id="go"><a href="">Go back</a>
    </div>
</div>


















<!--<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Profile update</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<label for="dateOfBirth">Date of birth</label>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
	</div>
</ng-template>-->

<!--<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>-->


<!--<p>
	You can pass an existing component as content of the modal window. In this case, if you're still using Angular 8 or
	older, remember to add the content component in the <code>entryComponents</code> section of your
	<code>NgModule</code>. For Angular 9 or newer, it's not needed anymore.
</p>

<button class="btn btn-lg btn-outline-primary" (click)="open()">Launch demo modal</button>-->





