<router-outlet></router-outlet>

<!--<div class="main-container">-->
    <!--<div class="text-center">
        <h2>Welcome Codeship</h2>
        <ul>
            <li><a routerLink="Module1">Module1</a></li>-->
            <!--<button (click)="router.navigate(['/master']);">
                <span>Go to master Page</span>
             </button>-->

           <!-- <button id="new" class="btn btn-primary" (click)="newChange()">Module check</button>-->
            <!--<li><a routerLink="Module2">Module2</a></li>
        </ul>-->
        <!--<router-outlet></router-outlet>
  </div>-->
    


        <!--<button class="btn-primary">Module1</button>
        <button>Module2</button>-->

    <!--<div class="component-container">-->
        <!--<app-module1a></app-module1a>
        <app-module1b></app-module1b>
        <app-module1c></app-module1c>
        <app-module1d></app-module1d>-->
        <!--<router-outlet></router-outlet>
    </div>-->
