<div class="text-center">
    <h2>Welcome Codeship</h2>
    <ul>
        <li><a routerLink="Module1">Module1</a></li>
        <!--<button id="new" class="btn btn-primary" (click)="newChange()">New Change Request</button>
        <button (click)="router.navigate(['/module1']);">
            <span>Go to master Page</span>
         </button>-->
        <li><a routerLink="Module2">Module2</a></li>
    </ul>
</div>

<!--<div class="text-center">
        <h2>Welcome Codeship</h2>
        <ul>
            <li><a routerLink="Module1">Module1</a></li>-->
            <!--<button (click)="router.navigate(['/master']);">
                <span>Go to master Page</span>
             </button>-->

           <!-- <button id="new" class="btn btn-primary" (click)="newChange()">Module check</button>-->
            <!--<li><a routerLink="Module2">Module2</a></li>
        </ul>-->